body{
    background-color: rgb(230, 170, 190);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Default blue color, you can change it */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}